<div class="no-collapse">
    
    <div id="toDoHead">
        <div class="fixed-wrapper">
        <div id="toDoTitle">
            <h2>
                To Do List</h2>
            <h5>
                {%= $.datepicker.formatDate("d MM yy", new Date()) %}</h5>
        </div>
            <span id="actionButton"></span>
        <div style="clear:both"></div>
        </div>
    </div>
    <div id="toDoLists"></div>
    <div id="underLists"></div>
    <div id="toDoTooltips"></div>

</div>
