<div class="legend-wrapper">
    <div class="legend-size-wrapper">
        <li class="legend-title">
            Color Legend
        </li>
        <li>
            <span class="legend-critical" />
            Critical Alert
        </li>
        <li>
            <span class="legend-warning" />
            Warning Alert
        </li>
        <li>
            <span class="legend-normal" />
            No Open Alerts
        </li>
        <li>
            <span class="legend-invalidData" />
            No Subscription
        </li>
    </div>
</div>
<i class="fa fa-bars scene-controls-icon"></i>