<li id="color-by-properties-select" title="Select alert threshold proptery to color-code racks"></li>
<li>
    <a id="toggle-names" class="linkButton clickable disabled" title="Show/Hide Rack Names">
        <i class="fa fa-square-o"></i>
        Rack Names
    </a>
</li>
<li>
    <a id="rotate-plan-view" class="linkButton clickable disabled" title="Rotate 3D Planview">
        <i class="fa fa-rotate-right"></i>
        Rotate
    </a>
</li>
<li>
    <a id="edit-plan-view" class="linkButton clickable disabled" title="Enter Edit Mode">
        <i class="fa fa-building-o"></i>
        Edit
    </a>
</li>
<li>
    <a id="export-components" class="linkButton clickable disabled" title="Export All Planview Racks to CSV">
        <i class="fa fa-download"></i>
        Export
    </a>
</li>
<li>
    <a id="print-plan-view" class="linkButton clickable disabled" title="Print this Planview">
        <i class="fa fa-print"></i>
        Print
    </a>
</li>
<li>
    <span id="grid-spinner-wrapper" class="linkButton disabled hidden" title="Set Grid Spacing in mm">
        <i class="fa fa-th"></i>
        <input id="grid-spinner" value="{%= defaultGridSpacing %}"/>
    </span>
</li>
<li>
    <a id="save-plan-view" class="linkButton clickable disabled hidden" title="Save Edits">
        <i class="fa fa-save"></i>
        Save
    </a>
</li>
<li>
    <a id="cancel-plan-view" class="linkButton clickable disabled hidden" title="Dismiss Edits">
        <i class="fa fa-times"></i>
        Cancel
    </a>
</li>
