<div id="plan-view-controls-region" class="cstoolbar no-select inverted ui-widget multi-line-ok" />

<div class="plan-view-content">

    <div id="plan-view-loading" class="detailsTabLoading ui-widget ui-widget-content">
        <h3>Please wait while we load the space's plan view.</h3>
    </div>

    <div id="plan-view-invalid" class="rackViewHeader hidden">No Data Center Above Space</div>

    <div id="plan-view-x3dom"/>
    <div id="plan-view-fabric"/>

    <div id="plan-view-tool-tip-region" class="no-select" />
    <div id="plan-view-leader-region" />

</div>
